<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Karma Farm</title>
    <link rel="stylesheet" href="./css/App.css">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="logo">
            ./<span>reddit-karma-farm</span> 🚜 <br>
            <span class="subtext">
                Want to contribute? 
                <a class="subtext-url" href="http://github.com/rohitjethoe/reddit-karma-farm" target="_blank">http://github.com/rohitjethoe/reddit-karma-farm</a>
            </span>
        </div>
    </header> <!-- header -->
    <main>
        <div class="user">
            <div class="user-title">
                Reddit Login
            </div>
            <div class="user-field username">
                <span>Username</span> <br>
                <input type="text" name="username" id="username">
            </div>
            <div class="user-field password">
                <span>Password</span> <br>
                <input type="password" name="password" id="password">
            </div>
            <div class="submit">
                <button id="run">Run</button>
            </div>
        </div>
        <div class="stats">
            <div class="comments">
                💬 commented 0 times.
            </div>
            <div class="deleted">
                ❌ deleted 0 comments.
            </div>
        </div>
    </main> <!-- main -->
    <footer>
        <div class="copyright">
            Made with ❤️ by Rohit.
        </div>
    </footer> <!-- footer -->

    <script src="./index.js"></script>
</body>
</html>